body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.welcome-page {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28vh;
}

.welcome-message {
    font-size: 24px;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    bottom: 0 !important;
    width: 100%;
    margin-top: 5%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.cart {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.cart a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.cart a:hover {
    text-decoration: underline;
}

#img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.event-details {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.event-details h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.event-details p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.event-details img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.back {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

#imgd {
    width: 80%;
}

.containerr {
    display: flex;
    justify-content: space-between;
}

.event-details-stats {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 600px;
    margin: 20px auto;
    width: 45%;
}

.event-details-stats img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.stats {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28vh;
    width: 45%;
    margin-right: 10%;
    margin-top: 3%;
}

